<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
	<connectionStrings>
  <add name="dbConnection" connectionString="data source=(local);initial catalog=Shortcut_Virus_Remover;Trusted_Connection=true" />
  <add name="Shorcut_Virus_Remover.Properties.Settings.Shortcut_Virus_RemoverConnectionString"
   connectionString="Data Source=.;Initial Catalog=Shortcut_Virus_Remover;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>